<section class="portfolio-header">
    <div class="portfolio-header-wrapper">
        <div class="portfolio-header-avatar">
            <img class="portfolio-header-avatar__img" src="img/avatar.jpg" alt="">
        </div>
        <div class="portfolio-header-about-me">
            <h1 class="portfolio-header-about-me__name">Alexander Mescheryakov</h1>
            <h2 class="portfolio-header-about-me__position">UI developer</h2>
            <p class="portfolio-header-about-me__description">I design and build digital products, improve user experience and interfaces to match user needs and business goals with minimum waste.</p>
        </div>
    </div>
    <div class="portfolio-header-contacts">
        <div class="portfolio-header-contact-group">
            <span class="portfolio-header-contact-group__item"><i class="fa fa-phone portfolio-header-contact-group__icon" aria-hidden="true"></i><a href="tel:+79603070064">+7 960 307 00 64</a></span>
            <span class="portfolio-header-contact-group__item"><i class="fa fa-envelope portfolio-header-contact-group__icon" aria-hidden="true"></i><a href="mailto:sibsfinx@ya.ru">sibsfinx@ya.ru</a></span>
            <span class="portfolio-header-contact-group__item"><i class="fa fa-skype portfolio-header-contact-group__icon" aria-hidden="true"></i><a href="skype:cookie,monster?userinfo">cookie,monster</a></span>
        </div>
        <div class="portfolio-header-contact-group">
            <span class="portfolio-header-contact-group__item"><i class="fa fa-facebook-official portfolio-header-contact-group__icon" aria-hidden="true"></i><a href="http://octobear.ru">octobear.ru</a></span>
            <span class="portfolio-header-contact-group__item"><i class="fa fa-github portfolio-header-contact-group__icon" aria-hidden="true"></i><a href="https://github.com/sibsfinx">github.com/sibsfinx</a></span>
            <span class="portfolio-header-contact-group__item"><i class="fa fa-dribbble portfolio-header-contact-group__icon" aria-hidden="true"></i><a href="https://dribbble.com/sibsfinx">dribbble.com/sibsfinx</a></span>
        </div>
        <div class="portfolio-header-contact-group">
            <span class="portfolio-header-contact-group__item"><i class="fa fa-facebook-official portfolio-header-contact-group__icon" aria-hidden="true"></i><a href="https://facebook.com/sibsfinx">facebook.com/sibsfinx</a></span>
            <span class="portfolio-header-contact-group__item"><i class="fa fa-behance portfolio-header-contact-group__icon" aria-hidden="true"></i><a href="https://behance.com/sibsfinx">behance.com/sibsfinx</a></span>
            <span class="portfolio-header-contact-group__item"><i class="fa fa-medium portfolio-header-contact-group__icon" aria-hidden="true"></i><a href="https://medium.com/@sibsfinx">medium.com/@sibsfinx</a></span>
        </div>
    </div>
</section>