@media screen and (max-width: 856px) {
    .portfolio-header-wrapper {
        flex-direction: row;
        margin: 0 5%;
    }
    .portfolio-header-avatar__img {
        width: 7rem;
    }
    .portfolio-header-avatar {
        order: 2;
        margin-top: 6rem;
    }
    .portfolio-header-about-me {
        order: 1;
        margin: 0;
    }
    .portfolio-header-about-me__name {
        line-height: 2rem;
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 660px) {
    .portfolio-header-avatar {
        margin: 1%;
    }
    .portfolio-header-contacts {
        flex-direction: column;
        height: 17.5rem;
        margin: 1.5rem 5% 0;
    }
    .portfolio-header-contact-group {
        margin: 0;
        width: 65%;
    }
    .portfolio-content {
        margin: 0.8rem;
    }
    .title {
        margin-top: 1.5rem;
    }
    .description,
    .tech-stack {
        margin: 2rem 0;
    }
    .desired-position {
        flex-direction: column;
        flex: 18rem 0 1;
    }
    .desired-position__title {
        flex: 30% 0 1;
    }
    .desired-position__description {
        flex: 70% 0 1;
    }
    .skills-and-tech-stack {
        flex-direction: column;
        flex: 48rem 0 1;
    }
    .component {
        flex-direction: column;
        border-bottom: 1px solid #000;
    }
    .period {
        flex: auto 1 0;
    }
    .experience-component {
        flex: 28rem 0 1;
    }
    .experience-component__period {
        flex: 10rem 0 1;
    }
    .experience-component__description {
        flex: 16rem 0 1;
    }
}