@media screen and (max-width: 640px) {
    .portfolio-header-wrapper {
        flex-direction: column;
    }
    .portfolio-header-avatar__img {
        width: 7rem;
    }
    .portfolio-header-avatar {
        order: 2;
    }
    .portfolio-header-about-me {
        order: 1;
        margin: 0;
    }
    .portfolio-header-about-me__name {
        line-height: 2rem;
        margin-top: 0.5rem;
    }
    .portfolio-header-contacts {
        flex-direction: column;
        height: 17.5rem;
        margin-top: 1.5rem;
    }
    .portfolio-header-contact-group {
        margin: 0;
        width: 65%;
    }
    .portfolio-content {
        margin: 0.8rem;
    }
    .title {
        margin-top: 1.5rem;
    }
    .description,
    .tech-stack {
        margin: 2rem 0;
    }
    .desired-position {
        flex-direction: column;
        flex: 12.5rem 0 1;
    }
    .desired-position__title {
        flex: 30% 0 1;
    }
    .desired-position__description {
        flex: 70% 0 1;
    }
    .skills-and-tech-stack {
        flex-direction: column;
        flex: 42.5rem 0 1;
    }
    .component {
        flex-direction: column;
        border-bottom: 1px solid #000;
        min-width: 18.75rem;
    }
    .period {
        flex: auto 1 0;
    }
    .experience-component {
        flex: 25rem 0 1;
    }
    .experience-component__period {
        flex: 9.375rem 0 1;
    }
    .experience-component__description {
        flex: 12.5rem 0 1;
    }
    .education {
        flex: 23.75rem 0 1;
    }
    .education-component {
        border: none;
        flex-direction: column;
        flex: 11.88rem 0 1;
    }
    .education__description {
        margin: .5rem 0;
    }
}